.AsideBlock {
  padding: 1em 0;
  min-width: 17em;
  min-height: 200px;
  display: inline-block;
}

.AsideBlock>* {
  margin-bottom: 2em;
}

.AsideBlock>*:last-child {
  margin-bottom: 0;
}