.App {
  padding: 25px;
}

.App__main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5em;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 4em;
}

.App__header {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__header_logo {
  display: block;
  width: 4em;
}
