.App {
  padding: 25px;
}

.App__main {
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 4em;
}

.App__main > .TicketsList {
  flex: 1 1 auto;
}

.TicketsList {
  margin-left: 1.5em;
}

.App__header {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__header_logo {
  display: block;
  width: 4em;
}
